* {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
}

body {
	background-color: #e4e4e3;
	text-align: center;
	margin: 0 18px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.card {
	position: relative;
	background: #fff;
}

#actions {
	position: absolute;
	bottom: 15px;
	right: 10px;
}

#actions a#addLink {
	border: 1px solid;
	border-radius: 15px;
	padding: 5px 10px;
}

#actions a#settings {
	position: absolute;
	right: 35px;
	bottom: -4px;
	margin-right: 15px;
	opacity: 0.6;
}

#actions a#settings:hover {
	opacity: 1.0;
}

#linksArea {
	padding: 18px 0px 0px;
	overflow: auto;
	margin: 0 auto;
}

#linksArea a {
	float: left;
	margin: 7px;
}

#linksArea a div.linkContainer {
	width: 200px;
	height: 100px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	display: table-cell;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	padding: 0 15px;
}

.actionLinks {
	position: absolute;
	bottom: 2px;
	right: 2px;
	display: none;
}

#linksArea a:hover .actionLinks {
	display: block;
}

.actionLinks a {
	padding: 2px 5px;
	margin: 0 !important;
	width: 8px;
	height: 14px;
	opacity: 0.2;
	background-color: #f4f4f3;
}

.actionLinks a:hover {
	background-color: #e4e4e3;
	opacity: 0.9;
}

.editLinks {
	background-image: url("edit.svg");

}

.deleteLinks {
	background-image: url("delete.svg");
}

#action {
	border: 1px dotted black;
	padding: 10px;
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #e4e4e3;
}

#actionForm {
	margin: 0;
}